:root {
    --color-foreground: hsl(0, 0%, 100%);
    --color-background: rgb(0, 0, 0);
    --color-links: hsl(204, 79%, 47%);
    --color-links-hover: hsl(128, 100%, 90%);
    --color-border: hsl(0, 0%, 35%);
}
